body {
    background: #1493E6;
    display: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Add some padding for better spacing */

.
/* Center all items within .container */

.container-fluid {
    display: absolute;
    align-items: center;
    /* Center both horizontally and vertically */
    min-height: 100vh;
    /* Minimum height to occupy the full viewport */
    overflow: hidden;
}

#femaleImage {
    margin-top: 0rem;
    margin-bottom: -1rem;
}

img {
    max-width: 500px;
}

#sub {
    margin-top: -22rem;
    margin-left: -5rem;
}

#headline1 {
    margin-top: -10rem;
}

#headline2 {
    margin-top: -14rem;
}